body
{
    background-color: lightskyblue;
}
h1
{
    font-family: 'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#canvas
{
    width: 288px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}